html {
  scroll-behavior: smooth;
}

body {
  font-family: 'helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

.head-content {
  width: 50%;
  text-align: center;
  color: #fff;
}

p {
  font-weight: 180;
  font-size: 15px;
  line-height: 25px;
}

a {
  margin-top: 5px;
  margin-right:10px;
  margin-bottom: 5px;
  background-color: #AAB7B8;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  
}

nav{
  background-color: #34495E;
  position: sticky;
  text-align: center;
  width: 1680px;
  height: 55px;
  padding; 40px;
  top: 0;
 
}

span .font-pair1a{
  font-family: 'Open Sans', sans-serif;
}

span .font-pair1b{
  font-family: 'Montserrat', sans-serif;
}


/* add your css below this line */

.head-background {
  background: url("https://cdn.pixabay.com/photo/2015/10/06/19/28/trees-975091_1280.jpg") no-repeat fixed center;
  background-size: cover;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-background {
  background: url("https://cdn.pixabay.com/photo/2021/08/05/18/52/forest-6524635_1280.jpg") no-repeat fixed bottom;
}

.second-section-background {
  background: url("https://cdn.pixabay.com/photo/2016/11/22/19/33/sea-1850228_1280.jpg") no-repeat fixed bottom;
}

.third-section-background {
  background: url("https://cdn.pixabay.com/photo/2022/02/19/22/48/forest-7023487_1280.jpg") no-repeat fixed bottom;
}

.with-background {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 400;
  margin: 0;
  
}

h2 {
  font-size: 35px;
  font-weight: 250;
  line-height: 40px;
}

h3 {
  font-size: 55px;
  font-weight: 200;
  line-height: 60px;
  margin: 0;
}



.note {
  width: 60px;
  height: 35px;
  background-color: #fff;
  position: absolute;
  color: #000;
  text-align: center;
  top: -20px;
  left: -25px;
  font-weight: 40px;
  line-height: 50px;
}

article {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
}

.first-article-container, .second-article-container, .third-article-container  {
  position: relative;
}

.first-article-container {
  background-color: #F4F6F6;
}

.second-article-container {
  background-color: #e6ffff;
}

.third-article-container {
  background-color: #CCD1D1;
}



footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(0, 0, 0, 0.3);
}

.container-footer {
  width: 500px;
  height: 20px;
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  color: #fff;
  text-align: center;
  right: 2px;
  bottom: 2px;
  font-weight: 5px;
}
